
<ul>
<% @users.each do |user| %>
<% next if user.id == current_user.id %>
<li>
  <%= user.username %> |

  <% friendship_obj = can_unfriend(current_user.id, user.id)  %>

  <div class="friend-buttons <%= "is-friends" unless can_friend?(current_user.id, user.id) %> ">
    <form class="friend" data-infriend="<%= user.id %>">
      <input type="submit" value="Add friend">
    </form>

    <form class="unfriend" data-infriend="<%= user.id %>" data-friendshipid="<%= friendship_obj.id if friendship_obj %>">
      <input type="submit" value="Remove friend">
    </form>
  </div>

</li>

<% end %>

</ul>
