<script type="text/javascript">
$(document).ready(function() {
  $('.new_secret').on('submit', function(event) {
    event.preventDefault();
    var formData = $(this).serialize();
    var that = this;

    var req = $.ajax({
      url: "/secrets.json", //make sure in .JSON
      data: formData,
      type:'post',
      success: function(resp) {
        console.log("Great job");
        console.log(resp);
        $("#title").val(""); //clears input form
        $('.user_secrets').prepend("<li>" + resp.title + "</li>")
      },
    });

  })
});

</script>

<h1><%= @user.username %></h1>

<h2>Secrets</h2>
<ul class="user_secrets">
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>


<%= render "secrets/form", recipient_id: @user.id %>