<form action="<%= secrets_url %>" method="post" class="new_secret">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">

  <label for="title">Title</label>
  <input type="text" name="secret[title]" value="" id="title">


  <div id="tags_go_here">

  </div>

  <input type="hidden" name="secret[recipient_id]" value="<%= recipient_id %>">
  <input type="submit" name="" value="Submit" id="">
</form>

  <a href="#" id="addmoretags">Add More Tags</a>





  <script type="application/json" id="bootstrapped_tags">
    {"tags": <%= Tag.all.to_json.html_safe %>}
  </script>



<script type="text/template" id="tags_template">
  <select id="tag_select" name="tag[tag_ids][]">
  <%% _(tags).each(function(tag) {  %>
    <option value="<%%= tag.id %>"> <%%= tag.title %> </option>
  <%% }); %>

  </select>
</script>



<script type="application/javascript">
  var tags = JSON.parse($('#bootstrapped_tags').html()).tags;
  // templateCode is a string with the contents of the script tag.
  var templateCode = $("#tags_template").html();

  // compile the template code to a JavaScript function
  var templateFn = _.template(templateCode);

  // evaluate the template; producing html
  var renderedContent = templateFn({
    // variables in here are available inside the template
    tags: tags
  });

  // finally, we can inject the content
  function addSecretTagSelect() {
    $("#tags_go_here").append(renderedContent);
  }

  //addSecretTagSelect();

  $(document).ready(function() {
    $('#addmoretags').on('click', function() {
      event.preventDefault();
      addSecretTagSelect();
    })
  })

</script>

