<form action="<%= secrets_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">

  <label for="title">Title</label>
  <input type="text" name="secret[title]" value="" id="title">

  <input type="hidden" name="secret[recipient_id]" value="<%= params[:user_id] %>">

  <input type="submit" name="" value="Submit" id="">


</form>