<!DOCTYPE html>
<html>
<head>
  <style>
  .hidden {
    display: none;
  }

  .friend {
    display: block;
  }

  .unfriend {
    display: none;
  }

  .is-friends > .friend {
    display: none;
  }

  .is-friends > .unfriend {
    display: block;
  }

  </style>
  <title>SecretShareAjax</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= params %>
  <br>


  <%= flash[:errors] %>

<% if !current_user.nil? %>
  <ul>
    <li>Logged in as: <%= current_user.username %></li>
    <li><%= button_to "Logout", session_url, :method => :delete %></li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
